<template>
    <div id="app" class="limiter">
        <div class="container-login100" style="background-image: url('@/assets/images/img-01.jpg');">
            <div class="wrap-login100 p-t-190 p-b-190">
                <div v-if="!session.loggedin">
                    <form @submit.prevent="handleLogin" class="login100-form validate-form">
                    <span class="login100-form-title p-t-20 p-b-45">
                        Guest login
					</span>

                        <div class="wrap-input100 validate-input m-b-10" data-validate="Username is required">
                            <input class="input100" type="text" name="username" placeholder="Username"
                                   v-model="user.username">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
							<i class="fa fa-user"></i>
						</span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">
                            <input class="input100" type="password" name="pass" placeholder="Password"
                                   v-model="user.password">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
							<i class="fa fa-lock"></i>
						</span>
                        </div>

                        <div class="container-login100-form-btn p-t-10">
                            <button class="login100-form-btn">
                                Login
                            </button>
                        </div>
                    </form>
                </div>
                <div v-if="session.loggedin">
                    <div class="text-center">
                        Welcome, {{session.user}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import "@/assets/vendor/bootstrap/css/bootstrap.min.css";
    import "@/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css";
    import "@/assets/fonts/Linearicons-Free-v1.0.0/icon-font.min.css";
    import "@/assets/vendor/animate/animate.css";
    import "@/assets/vendor/css-hamburgers/hamburgers.min.css";
    import "@/assets/css/util.css";
    import "@/assets/css/main.css";
    import login from '@/components/login-dynamodb';

    function getJsonFromUrl(url) {
        if (!url) url = location.search;
        let query = url.substr(1);
        let result = {};
        query.split("&").forEach(function (part) {
            let item = part.split("=");
            result[item[0]] = decodeURIComponent(item[1]);
        });
        return result;
    }

    export default {
        name: 'app',
        data() {
            return {
                user: {
                    username: '',
                    password: ''
                },
                session: {
                    user: '',
                    loggedin: false
                },

            }
        },
        components: {},
        methods: {
            handleLogin() {
                let vm = this;
                login(this.user.username, this.user.password, function (err, loggedin, user) {
                    if (err) alert(err);
                    if (loggedin) {
                        vm.session.loggedin = true;
                        vm.session.user = user;
                        let url = getJsonFromUrl(window.location.search);
                        alert(url.toString());
                        window.location.href = url.base_grant_url + "?continue_url=" + url.user_continue_url;
                    }
                });
            }
        }
    }
</script>

